* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: gray;
}
.taskbar {
    background-color: black;
    height: 45px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1000;
}

.menu-option {
    padding: 10px 15px;
}

.menu-option a:link {
    color: lightblue;
    text-decoration: none;
}

.menu-option a:visited {
    color: lightpink;
}

.menu-option a:hover {
    color: white;
    text-decoration: underline;
}
a {
    font-size: 20px;
    color: #fafafa;
    text-decoration: none;
    border: 1px solid var(--border-temp);  
}
.box {
    border-radius: 10px;
    margin: 10px 20px;
}
.flex-box {
    display: flex;
    flex-flow: row balance;
    align-content: start;
    overflow: hidden;
}
.dashboard-box {
    padding: 10px 0px;
    height: 650px;
    background-image: var(--temp-image);
}